@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:'YekanBakh-Regular';
    src: url('/dist/fonts/Yekan-Bakh-Regular.ttf') format('truetype');
}
@font-face {
    font-family:'YekanBakhMedium-latinNum';
    src: url('/dist/fonts/YekanBakhMedium-latinNum.ttf') format('truetype');
}
@font-face {
    font-family:'YekanBakhBold-latinNum';
    src: url('/dist/fonts/YekanBakhBold-latinNum.ttf') format('truetype');
}
@font-face {
    font-family:'YekanBakh-Fat';
    src: url('/dist/fonts/YekanBakh-Fat.ttf') format('truetype');
}
